
:root {
    --background: rgb(230, 230, 230);
    --headerColor: #ededed;
    --textColor: #2b2b2b;
    --textShadow: rgb(55, 55, 55);
    --transparent: rgba(100, 100, 100, 0.574);
    --blur: blur(5px);
    --red: rgb(230, 11, 11);
    --blue: rgb(0, 106, 255);
    --darkBlue: rgb(0, 83, 199);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    background-color: var(--background);
}

#topButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    z-index: 2000;
    border-radius: 50px;
    border: 0;
    backdrop-filter: var(--blur);
    background-color: var(--transparent);
    color: var(--headerColor);
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
}

#topButton.hide {
    filter: opacity(0);
    z-index: -10;
}

/* Responsive */
@media (max-width: 600px) {
    #topButton {
        padding: 7.5px 12.5px;
        font-size: 17px;
    }
}
